<style>
    .classs{
display:block;
margin-left: 250px;
margin-right: auto;
margin-top: -40px;
}
.classs1{
margin-left: 80px;
font-size: 20px;
}
</style>

<form action="/course/add" method="post">
<h2><center><u>Add a Question</u></center></h2>
<label class="classs1" style="margin-top: 50px;"><b>ID</b></label><input value="" name="id" class="classs"/><br><br>

<label class="classs1"><b>Question</b></label><t></t><input value="" name="question" class="classs"/><br><br>
<label class="classs1"><b>Option A</b></label><t><input value="" name="optionA" class="classs"/><br><br>
<label class="classs1"><b>Option B</b></label><t><input value="" name="optionB" class="classs"/><br><br>
<label class="classs1"><b>Option C</b></label><t><input value="" name="optionC" class="classs"/><br><br>
<label class="classs1"><b>Option D</b></label><t><input value="" name="optionD" class="classs"/><br><br>
<label class="classs1"><b>Answer Id</b></label><t><input value="" name="answerId" class="classs"/><br><br>
<label class="classs1"><b>Explaination</b></label><t><input value="" name="explaination" class="classs"/><br><br>
<button type="submit" class="classs">Add</button>
</form>